.category {
    font-family: Fedra Sans;
    font-size: 53px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 
    -0   -4px 0   #000000,
    0   -4px 0   #000000,
    -0    4px 0   #000000,
    0    4px 0   #000000,
    -4px -0   0   #000000,
    4px -0   0   #000000,
    -4px  0   0   #000000,
    4px  0   0   #000000,
    -1px -4px 0   #000000,
    1px -4px 0   #000000,
    -1px  4px 0   #000000,
    1px  4px 0   #000000,
    -4px -1px 0   #000000,
    4px -1px 0   #000000,
    -4px  1px 0   #000000,
    4px  1px 0   #000000,
    -2px -4px 0   #000000,
    2px -4px 0   #000000,
    -2px  4px 0   #000000,
    2px  4px 0   #000000,
    -4px -2px 0   #000000,
    4px -2px 0   #000000,
    -4px  2px 0   #000000,
    4px  2px 0   #000000,
    -3px -4px 0   #000000,
    3px -4px 0   #000000,
    -3px  4px 0   #000000,
    3px  4px 0   #000000,
    -4px -3px 0   #000000,
    4px -3px 0   #000000,
    -4px  3px 0   #000000,
    4px  3px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000;
    text-align: center;
    width: 100%;
    height: 75px;
    margin-top: 40px;
}

.button-container {
    display: flex; /* Использование Flexbox для контейнера кнопок */
    width: 100%; /* Контейнер занимает всю ширину экрана */
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-button {
    text-shadow: 
    -0   -4px 0   #000000,
    0   -4px 0   #000000,
    -0    4px 0   #000000,
    0    4px 0   #000000,
    -4px -0   0   #000000,
    4px -0   0   #000000,
    -4px  0   0   #000000,
    4px  0   0   #000000,
    -1px -4px 0   #000000,
    1px -4px 0   #000000,
    -1px  4px 0   #000000,
    1px  4px 0   #000000,
    -4px -1px 0   #000000,
    4px -1px 0   #000000,
    -4px  1px 0   #000000,
    4px  1px 0   #000000,
    -2px -4px 0   #000000,
    2px -4px 0   #000000,
    -2px  4px 0   #000000,
    2px  4px 0   #000000,
    -4px -2px 0   #000000,
    4px -2px 0   #000000,
    -4px  2px 0   #000000,
    4px  2px 0   #000000,
    -3px -4px 0   #000000,
    3px -4px 0   #000000,
    -3px  4px 0   #000000,
    3px  4px 0   #000000,
    -4px -3px 0   #000000,
    4px -3px 0   #000000,
    -4px  3px 0   #000000,
    4px  3px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000;
    font-family: Fedra Sans;
    font-weight: bold;
    background-image: url('image.png'); /* Изменено на image.png */
    background-size: contain; /* Покрытие всей площади кнопки */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-position: center; /* Центрировать изображение */
    border: none; /* Убрать стандартные границы кнопки */
    color: white; /* Цвет текста */
    padding: 50px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 18px; /* Размер шрифта текста */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 20px; /* Скругленные углы */
    flex: none; /* Это предотвратит растягивание кнопки */
    width: calc(50% - 20px); /* Установить ширину кнопки с учетом отступа */
    box-sizing: border-box; /* Учёт границ и padding в общей ширине */
    margin: 10px; /* Небольшой отступ между кнопками */
    outline: none; /* Убрать стандартный контур при фокусе */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Тень под кнопкой */
    transition: transform 0.3s, box-shadow 0.3s; /* Анимация при наведении */
    display: inline-block; /* Элемент как строчно-блочный */
}

.image-button:hover {
    transform: translateY(-2px); /* Поднятие кнопки при наведении */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Увеличение тени при наведении */
}

.button-container::after {
    content: '';
    flex: 1 1 50%; /* Занимает место, но не отображается */
    visibility: hidden; /* Сделать псевдоэлемент невидимым */
}

button[is_bordered="true"]
{
    border: 4px solid orange; /* Оранжевая обводка при активации */
}

button[is_bordered="false"]
{
    border: 0px solid orange; /* Оранжевая обводка при активации */
}

.generate-button {
    text-shadow: 
    -0   -4px 0   #000000,
    0   -4px 0   #000000,
    -0    4px 0   #000000,
    0    4px 0   #000000,
    -4px -0   0   #000000,
    4px -0   0   #000000,
    -4px  0   0   #000000,
    4px  0   0   #000000,
    -1px -4px 0   #000000,
    1px -4px 0   #000000,
    -1px  4px 0   #000000,
    1px  4px 0   #000000,
    -4px -1px 0   #000000,
    4px -1px 0   #000000,
    -4px  1px 0   #000000,
    4px  1px 0   #000000,
    -2px -4px 0   #000000,
    2px -4px 0   #000000,
    -2px  4px 0   #000000,
    2px  4px 0   #000000,
    -4px -2px 0   #000000,
    4px -2px 0   #000000,
    -4px  2px 0   #000000,
    4px  2px 0   #000000,
    -3px -4px 0   #000000,
    3px -4px 0   #000000,
    -3px  4px 0   #000000,
    3px  4px 0   #000000,
    -4px -3px 0   #000000,
    4px -3px 0   #000000,
    -4px  3px 0   #000000,
    4px  3px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000,
    -4px -4px 0   #000000,
    4px -4px 0   #000000,
    -4px  4px 0   #000000,
    4px  4px 0   #000000;
    font-family: Fedra Sans;
    font-weight: bold;
    background-size: contain; /* Покрытие всей площади кнопки */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-position: center; /* Центрировать изображение */
    border: none; /* Убрать стандартные границы кнопки */
    color: white; /* Цвет текста */
    padding: 50px; /* Отступы вокруг текста */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 18px; /* Размер шрифта текста */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 100px; /* Скругленные углы */
    flex: none; /* Это предотвратит растягивание кнопки */
    outline: none; /* Убрать стандартный контур при фокусе */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Тень под кнопкой */
    transition: transform 0.3s, box-shadow 0.3s; /* Анимация при наведении */
    background-color: orange;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 200px;
}